.div{
    height: 80px;
    width: 250px;
    background-color: green;
    border:3px solid red;
    overflow: auto;
}
.tooltip{
    position:relative;
    
}
.tooltip:hover .tooltip-txt{
    visibility: visible;
}
.tooltip .tooltip-txt{
visibility: hidden;
width: 100px;
background-color: indianred;
color:white;
padding: 5px;
border-radius: 5px;
position: absolute;
top:30px;
left: 20px;
z-index:1;
}